body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.header {
    background-color: #00a78e;
    color: white;
    padding: 15px;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    position: relative;
}

.header {
    position: relative;
    z-index: 100;
}

.side-menu {
    z-index: 200;
}


/* Hamburger Button */
.hamburger {
    position: absolute;
    left: 15px;
    font-size: 24px;
    cursor: pointer;
}

.side-menu {
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #b2e4dd;
    overflow-x: hidden;
    transition: width 0.3s ease;
    padding-top: 60px;
}

.side-menu a {
    padding: 10px 20px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    display: block;
    transition: 0.3s;
}

.side-menu a:hover {
    background-color: #7fd3c6;
}

.closebtn {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 30px;
    cursor: pointer;
}

#main {
    transition: margin-left 0.3s ease;
    padding: 16px;
}

/* end of burger*/


.button-container {
    margin: 20px;
}

.button {
    background-color: #00D1B2;
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin: 5px;
    font-size: 16px;
}

.button:hover {
    background-color: #00796B;
}

.category {
    margin: 20px;
    padding: 10px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.category h2 {
    color: #00a78e;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 15px;
    padding: 20px;
    justify-content: center;
}

.card {
    background: white;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    text-align: center;
    transition: transform 0.2s ease-in-out;
    cursor: pointer;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
}
.card:hover {
    transform: scale(1.05);
}
.card.flipped {
    background-color: #ffcc00;
}